# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Ignore all data files
data/**

# But allow DVC metadata
!data/**/*.dvc
!data/.gitignore

*.csv
*.xlsx

# Models
models/*.pkl
models/*.h5
models/*.joblib

# Environment variables
.env

# IDE
.vscode/

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# MLflow
mlruns/
mlartifacts/
mlflow.db